* {
    margin: 0;
    padding: 0;
}

.new-image {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.image-card {
    border: 1px red solid;
    
    img {
        max-width: 300px;
        max-height: 300px;
    }
    
    a {
        margin-right: 1em;
    }
}
